<%!
    from r2.lib.template_helpers import format_number
%>

<a href="/live/${thing.event._id}" class="liveupdate-happening-now">
  <div class="rank-spacer"></div>
  <div class="midcol-spacer"></div>
  <span class="happening-now-logo"></span>

  <div id="liveupdate-statusbar" class="status-bar live happening-now">
    <p class="state">${_('LIVE')}</p>
    <p role="presentation">&nbsp;-&nbsp;</p>
    <p class="description">${thing.event.title}</p>
    <p class="watching">
    <%
      num_watching = thing.event.active_visitors - (thing.event.active_visitors % 100)
    %>
      ${ungettext('(~%(num)s person watching)', '(~%(num)s people watching)', num_watching) % dict(num=format_number(num_watching))}
    </p>
  </div>
</a>

