<!doctype html>
<html>
<head>
    <style type="text/css">
    html, iframe, body, object, embed, div, span, p {
        margin: 0;
        padding: 0;
    }
    </style>
</head>
<body data-update-id="${thing.liveupdate_id}" data-embed-index="${thing.embed_index}">
    ${unsafe(thing.body)}
    % if thing.unknown_dimensions:
    <script type="text/javascript">
    var updateId = document.body.getAttribute('data-update-id'),
        embedIndex = document.body.getAttribute('data-embed-index');

    if (window.parent) {
        var knownWidth = 0, knownHeight = 0;
        window.setInterval(function() {
            var root = document.documentElement,
                dimensions = root.offsetWidth + 'x' + root.offsetHeight;

            if (knownWidth === root.offsetWidth && knownHeight === root.offsetHeight) {
                return;
            }

            knownWidth = root.offsetWidth;
            knownHeight = root.offsetHeight;

            window.parent.postMessage(JSON.stringify({
                "action": "dimensionsChange",
                "width": knownWidth,
                "height": knownHeight,
                "updateId": updateId,
                "embedIndex": embedIndex
            }), '*');
        }, 500);
    }
    </script>
    % endif
</body>
</html>